<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
        <div class="col-12">
<h1>Propiedades </h1>

<div class="table-responsive-lg">
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Operacion</th>
      <th>Imagen</th>
      <th>Descripción</th>
      <th>Ubicación</th>
      <th>PrecioUF</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.operation %></td>
        <td><%= property.image %></td>
        <td><%= property.description %></td>
        <td><%= property.ubication %></td>
        <td><%= property.price %></td>
        <td><%= link_to 'Ver Propiedad', property, class: 'btn btn-outline-success'%></td>
        <td><%= link_to 'Editar', edit_property_path(property), class: 'btn btn-outline-warning' %></td>
        <td><%= link_to 'Eliminar', property, method: :delete, data: { confirm: 'Está seguro?'}, class: 'btn btn-outline-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Agregar Nueva Propiedad', new_property_path, class: 'btn btn-info'  %>
<br><br>
<%= link_to 'Volver al Inicio', welcome_path, class: 'btn btn-success' %>
<br>
</div>
</div>
</div>
