<br><br>
<div class="container">
<div class="row">
  <div class="col-6">
  <h1>Detalle Propiedad</h1>
<img style="width: 200px;" src="<%=@property.image%>" />
<p>
  <strong>Operación:</strong>
  <%= @property.operation %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @property.image %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Ubicación:</strong>
  <%= @property.ubication %>
</p>

<p>
  <strong>Precio UF:</strong>
  <%= @property.price %>
</p>

<%= link_to 'Editar', edit_property_path(@property) %> |
<%= link_to 'Volver', properties_path %>
</div>
</div>
</div>
