<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <%= image_tag('Logo Alcantara.jpg', size: "1120x300", alt: "Logo Alcántara", class: 'rounded', class: 'mx-auto d-block', class: 'img-fluid')%>
            <br><br>
            <h1 class="display-4 text-success">Alcántara Gestión Inmobiliaria</h1>
            <p class="lead text-secondary">Bienvenidos!!!</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="media">

                <%= image_tag('Logo Alcantara.jpg', size: "74x64", alt: "Alcantara", class: 'mr-3')%>
                <div class="media-body">
                    <h5 class="mt-0">Nosotros</h5>
                    Somos una empresa que ofrece servicios inmobiliarios en la ciudad de Temuco, cuenta con 2 años de experiencia en el mercado de la IX Región. Nos caracteriza la honestidad, transparencia y lealtad hacia nuestros clientes, asi como sólidos valores y principios éticos.
                    Nos esforzamos en entregarle una gestión de calidad, para que su necesidad de Comprar, Vender y/o Arrendar una propiedad se convierta en una grata experiencia, solucionada con rapidez y eficacia.

                </div>
            </div>
        </div>
    </div>
    <br><br>
    <h1>Propiedades</h1>

<div class="row">
<% @properties.each do |propiedad| %>
<div class="col">
<img style="width: 200px;" src="<%=propiedad.image%>" />
<h2><%=propiedad.operation%></h2>
<a class="btn btn-outline-success mt-3" href="http://localhost:3000/properties">Detalles</a>
</div>
<% end %>
</div>
<br>
    <br><br>

    <%= link_to 'Ir a Tabla Propiedades', properties_path, class: 'btn btn-light' %>
</div>
